#outer
{
	width:860px;
	margin:0 auto;
	border:solid 1px red;
	
}
#header
{
	background:green;
	height:150px;
}
#footer
{
	height:100px;
	text-align: center;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#copyright
{
	font-family: 宋体, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
#footer ul li
{
	display:inline;
}
#footer ul li a
{
	color:Black;
	text-decoration:none;
